<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= loggedinuser.username %> | edit</title>


    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet" />

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    
    <div class="container w-full h-full relative ">
      
     
      <div class="nav w-full [15%] flex  justify-between px-8 py-6 ">
        <div class="part1 flex gap-1">
          <div id="logo" class="x8f INd _O1 KS5 mQ8 OGJ YbY " style="height:48px;width:48px"><svg class="gUZ GjR U9O kVc"
              height="24" width="24" viewBox="0 0 24 24" aria-hidden="true" aria-label="" role="img">
              <path
                d="M0 12c0 5.123 3.211 9.497 7.73 11.218-.11-.937-.227-2.482.025-3.566.217-.932 1.401-5.938 1.401-5.938s-.357-.715-.357-1.774c0-1.66.962-2.9 2.161-2.9 1.02 0 1.512.765 1.512 1.682 0 1.025-.653 2.557-.99 3.978-.281 1.189.597 2.159 1.769 2.159 2.123 0 3.756-2.239 3.756-5.471 0-2.861-2.056-4.86-4.991-4.86-3.398 0-5.393 2.549-5.393 5.184 0 1.027.395 2.127.889 2.726a.36.36 0 0 1 .083.343c-.091.378-.293 1.189-.332 1.355-.053.218-.173.265-.4.159-1.492-.694-2.424-2.875-2.424-4.627 0-3.769 2.737-7.229 7.892-7.229 4.144 0 7.365 2.953 7.365 6.899 0 4.117-2.595 7.431-6.199 7.431-1.211 0-2.348-.63-2.738-1.373 0 0-.599 2.282-.744 2.84-.282 1.084-1.064 2.456-1.549 3.235C9.584 23.815 10.77 24 12 24c6.627 0 12-5.373 12-12S18.627 0 12 0 0 5.373 0 12">
              </path>
            </svg></div>
  
          <div class="allbtns ">
            <a href="/home" class="buttons  p-3 ">Home</a>
            <a class="buttons  p-3">Explore</a>
            <a href="/createpin" class="buttons  p-3">Create</a>
  
          </div>
        </div>
  
  
  
        <div class="part2-nav flex gap-5 mt-2 ">
          <a href="/profile" id="firstletter" class="nav-2 capitalize text-lg"></a>
          <a id="set" class="nav-2"><i class="ri-arrow-down-s-line text-lg"></i></a>
             
        </div>
  
      </div>
        
  
      <div id="settings" class="main-overlay hidden py-4 pl-4 w-[20vmax] rounded-2xl ">

        <p class="ml-1">cuurently in</p>
        <div class="top w-full mt-3 flex gap-4 ">
  
          <div class="profile w-[4.5vmax] h-[4.5vmax] rounded-full overflow-hidden">
            <img class="w-full h-full object-cover" src="/images/uploads/<%= user.profile %>" alt="">
          </div>
  
          <div class="right mt-1 leading-none">
            <h3 class="font-medium text-sm leading-none ">
              <%= user.username %>
            </h3>
            <p class="font-light mt-1 text-sm">Personal</p>
  
          </div>
  
  
        </div>
  
  
        <div class="account mt-4">
          <p class="text-sm ml-1">Your accounts</p>
          <a href="/add/accounts">
            <h3 class="hover px-2 py-2 text-lg mt-3 font-semibold cursor-pointer">Add account</h3>
          </a>
  
        </div>
  
        <div class="moreoptions mt-4">
          <h3 class="text-sm ml-1">settings</h3>
          <a href="/home ">
            <h3 class="hover ml-1 px-1 py-2 text-lg mt-3 font-semibold cursor-pointer">Tune your feed</h3>
          </a>
          <a href="/logout">
            <h3 class="hover ml-1 px-1 py-2 text-lg mt-3 font-semibold cursor-pointer">Log out</h3>
          </a>
  
        </div>
  
  
  
  
      </div>

   


        <div class="content w-full h-[85%] relative flex items-center justify-center  ">
               
           <div class="innercontent w-[80%] h-[95%] relative  flex ">

               <div class="left relative w-[40vw] h-[55vh] flex items-center justify-self-center ">
                <div class="pin overflow-hidden  relative w-[90%] h-[90%] bg-red-600 rounded-2xl">
                    <img class="w-full h-full object-cover " src="/images/uploads/<%= editpin.image %>" alt="">

                </div>
               </div>

               <div class="right relative w-[50%] h-full px-10 py-5">

                    <div class="top relative w-full flex justify-between  ">
                        <h3 class="text-lg font-medium">Edit pin</h3>
                         <a href="/profile"><i class="ri-close-line text-lg"></i></a>

                    </div>
                  

                    <form id="saveform" action="/savepin/<%= editpin._id %>" method="post" >
                        <div class="title mt-8">
                    
                            <label class="block" for="Title">Title</label>
          
                            <input name="title" class="mt-1 w-full py-2 rounded-2xl cursor-pointer px-3 " type="text" placeholder="Edit a title" value="<%= editpin.title %>" style="border: 2px solid silver; outline: none;">
                            
          
                            
                           </div>
          
          
          
                           <div class="description mt-6">
                              
                              <label class="block" for="description">Description</label>
            
                              <input name="description" class="mt-1 w-full py-6 rounded-2xl cursor-pointer px-3 " type="text" placeholder="Edit a description for your pin" value="<%= editpin.description %>" style="border: 2px solid silver; outline: none;">
          
          
                              
            
                              
                             </div>     
                           
          
                            
                             <div class="link mt-6">
                              
                              <label class="block" for="Title">link</label>
            
                              <input name="link" class="mt-1 w-full py-2 rounded-2xl cursor-pointer px-3 " value="<%= editpin.link %>" type="text" placeholder="Edit link" style="border: 2px solid silver; outline: none;">
                              
            
                              
                             </div>
          
          
          
                             <div class="board mt-6">
                              
                              <label class="block" for="Title">Board</label>
            
                              <input name="board" class="mt-1 w-full py-2 rounded-2xl cursor-pointer px-3 " value="<%= editpin.board %>" type="text" placeholder="Edit Board name of pin" style="border: 2px solid silver; outline: none;">
          
          
                              
          
                             </div>
          
          
                             <div class="footer mt-3 relative w-full flex gap-3 py-5">
          
                                <a href="/deletepin/<%= editpin._id %>" class="py-2 px-4  rounded-3xl text-black " style="background-color: rgb(254, 251, 251);">delete</a>
                                <button id="save" type="submit" class="py-2 px-4  rounded-3xl text-white bg-red-600 ">save</button>
 
                               
                             </div>
                    </form>


               </div>
               

           </div>
        </div>

    </div>





    <style>
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      html,body{
        width: 100%;
        height: 100%;
        font-family: "gilroy";

      }


      #logo{
        fill: red;
      }

    

     
      
    .buttons{
        cursor: pointer;

    }

     .buttons:hover{
        background-color: black;
        color: white;
        border-radius: 50px;
     }

    
     

     .nav-2{
      position: relative;
      background-color:#E9E9E9;
      width: 2vw;
      height: 2vw;
      border-radius: 50%;
      display: flex;
      align-items:center;
      justify-content: center;

     }


     .post-option a{
      position: relative;
      cursor: pointer;
     }

     
    


     #settings {
      z-index: 99999;
      position: absolute;
      right: 3vw;
      top: 9%;
      background-color:#E60023;
      color:rgb(255, 255, 255);
    }



      .hover{
         position: relative;
         border-radius: 10px;
         transition: all ease 3s;
         cursor: pointer;
      }
      

      .hover:hover{
         background-color: silver;
      }



 @media only screen and (max-width: 768px) {
   
  .left{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .innercontent{
    flex-direction: column;

  }

  .right{
    width: 100%;
    justify-content: center;

  }
}

    </style>


<script>
     const username = `<%= user.username %>`;
   const arr = Array.from(username)
    
   const firstletter = arr[0]; 

   document.querySelector("#firstletter").innerHTML = firstletter



   let check = 0;
   document.querySelector("#set").addEventListener("click", function(){
    
    if(check == 0){
      document.querySelector("#settings").style.display = "block";
      check = 1
    }

    else{
      document.querySelector("#settings").style.display = "none";
      check = 0
    }
   })
 
</script>


<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js">
</script>


</body>

</html>